<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body class="container py-5">
<h2>Login (Demo)</h2>
<form method="post" action="/login" class="col-4">
    <div th:replace="fragments/alerts :: *"></div>
    <div class="mb-3"><label>Email</label><input name="email" class="form-control" required type="email"/></div>
    <div class="mb-3"><label>Password</label><input name="password" class="form-control" required type="password"/></div>
    <button class="btn btn-primary">Login</button>
    <p class="mt-2">Try: alice@lms.io / Passw0rd!</p>
</form>
</body>
</html>